
.bgcolor{
     
     background-color: #bce8f1 !important;	
}
.modal-dialog {
    position: relative;
    left: 30px;
}
.fc-content .fc-time{
	display: none;
}
.info-tbl{
	margin: 0 auto;
	width: 100%;
	margin-top: 20px;
}
/*---------------------

--------------------------*/
.inpt-wrap{
	padding-top: 45px;

}
.outline-bottom{
	border: 1px solid;
    padding: 20px;
    background: #E9E9E9;
    border: 2px #EEE solid;
}
.fc-event,.fc-today-button{
 background-color:#0d83dd !important;
 font-size: 11px;
}
.bot{
 background-color:#0d83dd !important;
 border-color: #0d83dd !important;

}
.fc-today-button{
	color: #FFF !important;
}
.fc td{
	 background-color: #FFF ;
}

.fc th {
    background-color: #0d83dd !important;
    padding: 10px 0 !important;
    color: #FFF;
}
.bd-top{
	margin-top: 60px;
}
.jump {  
   position: absolute; 
	  top: 3px;
    left: 184px;
}
.jumpalt {  
      position: absolute;
     top: 3px;
     left: 132px;
}
.fc-week,.fc-day-grid-container{
  height: 100px !important;
}
a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end {
    padding: 10px 5px;
    
}
.fc-widget-header{
  margin-right: 0 !important;
}
.lgOut{
  color: #FFF !important;
}
.headerLogo{
  color: #FFF !important;
}
.navbar-collapse{
  background: #428bca !important;
  
}
.navbar-inverse{
  border-color: #428bca !important;
}